@import '/src/static/css/mixins.scss';
@import '/src/static/css/reset.scss';
@import '/src/static/css/vars.scss';

.banner {
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 230px 0 120px;
    margin-bottom: 116px;

    @media (max-width: 1024px) {
        padding: 258px 0 126px;
        margin-bottom: 78px;
    }

    @media (max-width: 767px) {
        padding: 106px 0 52px;
        margin-bottom: 55px;
    }



    &::before {
        z-index: 0;
        content: "";
        position: absolute;
        background-color: #252B49;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.8;

    }

    &__container {
        @include container();
        position: relative;
        z-index: 1;
        padding: 0 15px;
        text-align: center;

        @media (max-width: 767px) {
            padding: 0 20px;
        }
    }

    &__title {
        @include font(64px, 75px, 900);
        text-transform: uppercase;
        text-align: center;
        color: #fff;
        margin-bottom: 34px;

        @media (max-width: 1024px) {
            @include font(48px, 56px, 900);
            margin-bottom: 60px;
        }

        @media (max-width: 767px) {
            @include font(36px, 42px, 900);
            margin-bottom: 34px;
        }

    }

    &__text {
        @include font(24px, 28px, 400);
        text-align: center;
        color: #fff;
        margin: 0 auto 78px;
        max-width: 1000px;

        @media (max-width: 1024px) {
            @include font(18px, 21px, 400);
            margin: 0 auto 92px;
            max-width: 750px;
        }

        @media (max-width: 767px) {
            @include font(14px, 16px, 400);
            margin: 0 auto 49px;
        }

    }

    &__btn {
        @include font(24px, 28px, 900);
        display: inline-block;
        max-width: 370px;
        width: 100%;
        color: #FFF;
        background-color: #FF4343;
        text-align: center;
        padding: 25px 0;
        text-decoration: none;
        text-transform: uppercase;

        @media (max-width: 767px) {
            max-width: none;
            padding: 16px 0;
        }

        @media (max-width: 1024px) {
            max-width: 312px;
        }

        &:hover {
            background-color: #E71414;
        }

        &:active {
            background-color: #FF4343;
            box-shadow: 4px 4px 30px 0px #FF4343;
        }
    }
}

.header {

    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;

    &__container {
        @include container();
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        @media (max-width: 1024px) {
            max-width: 1014px;
            column-gap: 242px;
        }

        @media (max-width: 767px) {
            max-width: 97%;
        }

        @media (max-width: 450px) {
            column-gap: 0;
        }

        &::before {
            content: "";
            position: absolute;
            background-color: #BABBC5;
            width: calc(100% - 30px);
            height: 1px;
            top: 100%;
            left: 15px;

            @media (max-width: 767px) {
                display: none;
            }

        }
    }

    &__logo {
        display: flex;

        svg {
            max-width: 184px;

            @media (max-width: 767px) {
                max-width: 104px;
            }
        }
    }
}

.nav {

    &__btn {
        display: none;

        @media (max-width: 767px) {
            display: flex;
        }

        svg {
            width: 55px;
            height: 56px;
        }
    }


    &__links {
        list-style: none;
        display: flex;
        justify-content: space-between;

        @media (max-width: 780px) {
            column-gap: 20px;
        }

        @media (max-width: 767px) {
            display: none;
        }

        li {
            min-width: 134px;
            width: 100%;
            text-align: center;

            a {
                padding: 42px 0;
            }

            @media (max-width: 1024px) {
                min-width: 112px;
            }

            @media (max-width: 780px) {
                min-width: max-content;
            }
        }
    }

    &__link {
        @include font(13px, 15px, 700);
        text-decoration: none;
        text-transform: uppercase;
        position: relative;
        text-align: center;
        display: inline-block;
        width: 100%;


        &:hover::after {
            @include nav_after(#BABBC5);
        }

        &:active {
            color: #E71414;

        }

        &:active::after {
            @include nav_after(#E71414);
        }
    }

}

.features {

    margin-bottom: 133px;

    @media (max-width: 1024px) {
        margin-bottom: 80px;
    }

    &__container {
        @include container();
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 88px;
        column-gap: 31px;

        @media (max-width: 1024px) {
            row-gap: 50px;
            column-gap: 20px;
            padding: 0 20px;
        }

        @media (max-width: 767px) {
            grid-template-columns: repeat(1, 1fr);
            row-gap: 40px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 370px;
        width: 100%;

    }

    &__logo {
        max-width: 100px;
        max-height: 100px;
        width: 100%;
        height: 100%;
        margin-bottom: 29px;

        @media (max-width: 1024px) {
            max-width: 85px;
            max-height: 85px;
            margin-bottom: 25px;
        }

        @media (max-width: 767px) {
            max-width: 75px;
            max-height: 75px;
            margin-bottom: 31px;
        }

        & svg {
            width: 100%;
            height: 100%
        }
    }

    &__title {
        @include font(24px, 28px, 900);
        padding: 22px 0;
        color: #2D3033;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 21px;

        @media (max-width: 1024px) {
            @include font(18px, 21px, 900);
            padding: 19px 0;
            color: #2D3033;
            margin-bottom: 5px;
        }

        @media (max-width: 767px) {
            padding: 6px 0;
        }
    }

    &__text {
        @include font(18px, 21px, 400);
        color: #6C7279;
        text-align: center;

        @media (max-width: 1024px) {
            @include font(14px, 16px, 400);
            color: #6C7279;
        }
    }
}